<section class="productos">
  <br>
  <h4>Bienvenid@ {{user.nombre}} {{user.apellido}}!!!</h4>
  <p>rol:{{user.rol}}</p><br><br><br>
  
  <h2>Productos</h2>
  {{#if hayProductos}}
  <ul>{{#each productos}}</ul>
  <li>{{this.title}}</li>
  {{/each}}
  {{else}}
  Aun no hay productos cargados.
  {{/if}}
</section>
<br><br>
<form action="/profile" method="get">
  <button type="submit">Ir a mi perfi!</button>
</form>
